*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --color-primary: rgb(15, 14, 94);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 14, 94);
}

.header h1 {
    color: aliceblue;
    font-size: 38px;
    margin: 25px 0px 25px 100px;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
}

.container1 {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.descrisao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.descrisao h1 {
    justify-content: flex-start;
    font-size: 60px;
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 10px;
}

.linha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.descrisao h2 {
    justify-content: flex-start;
    font-size: 60px;
    color: var(--color-primary);
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
}

.line::after {
    content: " ";
    background-color: var(--color-primary);
    display: block;
    height: 65px;
    width: 7px;
  }

.descrisao p {
    color: var(--color-primary);
    font-size: 28px;
    margin-bottom: 18px;
    text-align: left;
    padding: 10px;
    max-width: 600px;
}

.descrisao button {
    width: 200px;
    margin-left: 70px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-primary);
    color: aliceblue;
    font-size: 22px;
    cursor: pointer;
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.container2 h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
}

.servicos-geral {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.servicos img {
    max-width: 300px;
}

.servicos p {
    color: aliceblue;
    font-size: 30px;
    margin: 20px;
}

.servicos button {
    margin-bottom: 40px;
    max-width: 150px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    color: var(--color-primary);
    font-size: 14px;
    font-weight: bold;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.container3 h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.planos-geral {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 50px;
}

.planos-geral h1 {
    font-size: 28px;
    margin-bottom: 10px;
    padding: 15px;
}

.planos-geral ul {
    padding: 0 35px;
}

.planos-geral ul li {
    font-size: 20px;
    color: var(--color-primary);
    padding: 5px;
}

.planos-geral button {
    width: 120px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-primary);
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    margin: 30px 10px 40px;
}

.planos {
    border: 4px solid var(--color-primary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.itens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha-baixa {
    align-items: center;
    content: " ";
    background-color: var(--color-primary);
    height: 6px;
    width: 180px;
    margin-bottom: 20px;
    border-radius: 2px;
}


.footer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h1, a {
    color: aliceblue;
    margin: 30px 120px;
    text-decoration: none;
}
